<html lang="en" >
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<script type="text/javascript" src="js/libs.js"></script> 
	<script type="text/javascript" src="js/app.js"></script> 
	<link rel="stylesheet" href="css/style.css">
</head>
<body ng-app="Equisym" ng-cloak layout="column" ng-controller="MainCtrl">

	<div layout class="margin" layout-wrap>
		<img src="img/Dorrasset.png" class="h40 margin-right">
		<h1 class="md-display-1 no-margin">Equity Curve Simulator</h1>
	</div>
	

	<div id="Main" flex layout=column layout-gt-xs=row>
	
	<div id="Inputs" class="w250 well margin-but-top border-radius" layout="column">
		
		<div class="overflow padding" flex-gt-xs layout=column>

			<md-subheader class="md-primary text-bold no-padding margin-bottom">Parámeters</md-subheader>

		<md-input-container class="md-icon-float md-icon-right">
			<input ng-model="Inputs.startingEq" placeholder="Starting Equity" type=number min=0>
			<md-icon class="text-bold text-center text-icon">{{ Inputs.currencySymbol }}</md-icon>
		</md-input-container>

		<div class="h70">
			<div layout>
			<md-input-container flex class="">
				<input ng-model="Inputs.risk" placeholder="Risk per Trade" type=number min=0>
			</md-input-container>
			<md-select ng-model="Inputs.riskType" aria-label="select">
				<md-option value="Percent">%</md-option>
				<md-option value="Value">{{ Inputs.currencySymbol }}</md-option>
			</md-select>
			</div>
		</div>

		<span class="md-subheader label">Win Probability</span>
		<md-slider-container class="mh30">
			<md-slider min="0" max="100" ng-model="Inputs.winProb" aria-label="Slider" class="md-primary"></md-slider>
			<span class="text-bold lh25">{{ Inputs.winProb }}%</span>
		</md-slider-container>

		<md-input-container class="md-icon-right">
			<input ng-model="Inputs.winRatio" placeholder="Win:Loss Relation" type=number min=0>
			<md-icon class="text-bold text-center text-icon">:1</md-icon>
		</md-input-container>

		<span class="md-subheader label">Trades per Run</span>
		<md-slider-container class="mh30">
			<md-slider min="1" max="200" ng-model="Inputs.trades" aria-label="Slider" class="md-primary"></md-slider>
			<span class="text-bold lh25">{{ Inputs.trades }}</span>
		</md-slider-container>

		<md-input-container class="">
			<input ng-model="Inputs.runs" placeholder="Runs (Lines)" type=number min=0>
		</md-input-container>

		<md-input-container class="" hide>
			<label>Graph Scale</label>
			<md-select ng-model="Inputs.scale" aria-label="select">
				<md-option value="Normal">Normal</md-option>
				<md-option value="Log">logarithmic</md-option>
			</md-select>
		</md-input-container>

		</div>

		<md-button class="md-raised md-primary margin-but-top h40 text-bold" aria-label="Go" ng-click="run()">
			<md-icon md-font-icon="fa-play margin-right"></md-icon>
			Run Simulation
		</md-button>

	</div>

	<div flex-gt-xs layout=column layout-gt-sm=row>
		<div id="Results" flex-gt-sm class="" layout=column>
			
			<div id="Progress" flex layout layout-align="center center" ng-show="Inputs.calculating" style="margin: 0 0 50px 0">
				<md-progress-circular md-mode="indeterminate"  md-diameter="60" ></md-progress-circular>
				<img src="img/Dorrasset.png" class="h80 margin-left">
			</div>
			
			<div id="Chart" >
				<md-subheader class="md-primary text-bold no-padding margin" ng-if="Inputs.calcDone">Graph</md-subheader>
				<nvd3 class="margin-bottom" options="chartOps" data="chartData" config="chartConfig" api="chartApi" ng-if="Inputs.calcDone"></nvd3>
			</div>
			

		</div>

		<div layout=column class="w300 margin-but-top overflow" ng-show="Inputs.calcDone">
			<div class="well border-radius margin-bottom"  layout=column md-whiteframe=1>
				<md-subheader class="md-primary text-bold no-padding margin">Results</md-subheader>
				<table class="Results_table">
					<body>
						<tr><td class="result-key">Kelly</td> 															<td class="result-value">{{ Vars.Kelly }}</td></tr>
						<tr><td class="result-key">Expectation</td> 													<td class="result-value">{{ Vars.Expectation }}</td></tr>
						<tr><td class="result-key">Max Drawdown</td> 			      							<td class="result-value">{{ Vars.maxDD }}</td></tr>
						<tr><td class="result-key">Max Drawdown ({{ Inputs.currencySymbol }})</td> 		<td class="result-value">{{ Inputs.currencySymbol + Vars.maxDDAbs }}</td></tr>
						<tr><td class="result-key">Avg. Max Drawdown</td> 											<td class="result-value">{{ Vars.avgMaxDD }}</td></tr>
						<tr><td class="result-key">Min. Equity</td> 													<td class="result-value">{{ Inputs.currencySymbol + Vars.minEq }}</td></tr>
						<tr><td class="result-key">Max. Equity</td> 													<td class="result-value">{{ Inputs.currencySymbol + Vars.maxEq }}</td></tr>
						<tr><td class="result-key">Max. Consecutive Wins</td> 									<td class="result-value">{{ Vars.maxCW }}</td></tr>
						<tr><td class="result-key">Max. Consecutive Loses</td> 	   							<td class="result-value">{{ Vars.maxCL }}</td></tr>
						<tr><td class="result-key">Avg. Performance</td> 	   									<td class="result-value">{{ Vars.avgPerf }}</td></tr>
						<tr><td class="result-key">Avg. Performance ({{ Inputs.currencySymbol }})</td> 	<td class="result-value">{{ Inputs.currencySymbol + Vars.avgPerfAbs }}</td></tr>
						<tr><td class="result-key">Return on Max Drawdown</td> 	   							<td class="result-value">{{ Vars.retMaxDD }}</td></tr>
					</body>
				</table>
				
			</div>
			<span flex></span>
			<md-button class="well md-raised md-primarys text-bold" aria-label="btn" hide>
				<md-icon md-font-icon="fa-download"></md-icon>
				Download Data
			</md-button>
			<pre hide>{{ chartOps | json }}</pre>
		</div>
	</div>

	</div>
	
</body>
</html>